:root {
	--color-dark : hsl(240, 38%, 20%);
	--color-dark-light : hsla(240,38%,20%,.8);
	--color-grey : hsl(240, 18%, 77%);
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Inter',sans-serif;
	font-size: 3.2rem;
	font-weight: 300;
	color : var(--color-dark);
	background-color: rgba(255,255,255,.5);
}

.testimonial {
	max-width : 105rem;
	margin: 10rem auto;
	padding : 18rem 7rem;
	box-shadow: 0 2px .5rem var(--color-grey);
	border-radius: .2rem;
	position : relative;

	display: flex;
}


.testimonial__content {
	flex : 1 1 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 55rem;
	position: relative;
	right: -2rem;
	z-index: 40;

}
.testimonial__content__quote {
	position: relative;
	color: var(--color-dark-light);
}
.testimonial__content__quote img {
	max-width: 7.5rem;
	position: absolute;
	top: -3rem;
	left: 10rem;
}

.testimonial__content__person {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	font-size: 2.2rem;
	margin: 4rem 0;
}
.testimonial__content__person__role {
	margin-left: 1rem;
}


.testimonial__figure {
	flex : 1 1 40%;
	position : relative;
	top: -8rem;
	right: 6rem;
	max-width: 50rem;
	/* max-width: 40rem; */
	/* position: absolute;
	top : 5rem;
	right: 8rem; */
	/* background-image: url(./images/pattern-bg.svg); */
}
.testimonial__figure__person {
	position: absolute;
	right: 5rem;
	top: 0rem;
	width: 75%;
	border-radius: 3px;

}
.testimonial__figure__person img {
	width: 100%;
}
.testimonial__figure__pattern {
	position: absolute;
	right: -3rem;
	top: -5rem;
	width: 100%;
}

.testimonial__figure__controls {
	position: absolute;
	z-index: 50;
	bottom: -1rem;
	left: 4rem;
	background-color: #fff;
	border-radius: 100px;
	width: 5rem;
	padding: 1rem 1.4rem;
	box-shadow: 0 1.5px 1px rgba(0,0,0,.1);

	display: flex;
	justify-content: space-between;
	align-items: center;

}
.testimonial__figure__controls button {
	background-color: #fff;
	border: none;
	cursor: pointer;
	line-height: 0;
	outline: none;
}
.testimonial__figure__controls button > img {
	width: 1rem;
	height: 1.5rem;
}

.testimonial__pattern-curve {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width : 45rem;
	width: 60%;
}

.attribution {
	margin-top: 1rem;
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: .3px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
 }

.text-light {
	color: var(--color-grey);
}
.text-bold {
	font-weight: 700;
}


/* MEDIA QUERIES */
@media screen and (max-width:75em){
	.testimonial {
		margin: 0;
		margin-bottom: 1rem;
		box-shadow: none;
	}
	body {
		font-size:2.5rem;
	}
	.testimonial__figure {
		flex: 1 1 50%;
		top: -10rem;
	}
	.testimonial__content__person {
		font-size: 1.8rem;
	}
}
@media screen and (max-width:56.25em){
	.testimonial {
		padding : 12rem 5rem;
	}
	.testimonial__figure {
		top: 2rem;
	}
}

@media screen and (max-width:50em){
	.testimonial {
		flex-direction: column;
	}
	.testimonial__figure {
		order: -1;
		margin-bottom: 45rem;
		top: 4rem;
		right: initial;
	}
	.testimonial__figure__pattern {
		top : -6.5rem
	}
	.testimonial__figure__person {
		top: -1.5rem;
	}
	.testimonial__figure__controls {
		left: 50%;
		transform : translateX(-50%);
	}
	.testimonial__content {
		align-items: center;
	}
	.testimonial__content__person {
		flex-direction: column;
		align-items: center;
	}
	.testimonial__content__person__role {
		margin : 1.5rem 0;
	}
	.testimonial__content__quote img {
		left: 50%;
		transform : translateX(-50%);
	}
}

@media screen and (max-width:33em){
	.testimonial {
		padding : 5rem 2rem;
	}
	.testimonial__figure {
		margin-bottom: 37rem;
	}

}
@media screen and (max-width:25em){
	html {
		font-size : 60%;
	}
	.testimonial__figure {
		margin-bottom: 28rem;
	}
}
@media screen and (max-width:23em){
	.testimonial__figure {
		margin-bottom: 35rem;
	}
}